@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --branco: hsl(0, 0%, 100%);
    --cinza-claro: hsl(217, 12%, 63%);
    --cinza-medio: hsl(216, 12%, 54%);
    --azul: hsl(213, 19%, 18%);
    --azul-medio: hsl(212, 21%, 26%);
    --azul-escuro: hsl(216, 12%, 8%);
    --laranja: hsl(25, 97%, 53%);

    --fonte: 'Overpass', sans-serif;
}

body {
    background-color: var(--azul-escuro);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.container {
    box-sizing: border-box;
    border-radius: 15px;

    background-color: var(--azul);
    font-family: var(--fonte);
    padding: 1.5rem;

    width: 90%;
}

.hide {
    display: none;
}


.star__container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--azul-medio);
    border-radius: 50%;

    height: 2.4rem;
    width: 2.4rem;

}

.star {
    background-image: url(../images/icon-star.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    height: 0.7rem;
    width: 0.7rem;
}

.titulo {
    color: var(--branco);
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.texto {
    color: var(--cinza-claro);
    font-size: 0.8rem;
    line-height: 1.5;
}

.notas__container {
    display: flex;
    justify-content: space-between;
}

input[type=radio] {
    display: none;
}


.label-notas {
    background-color: var(--azul-medio);
    border-radius: 50%;
    color: var(--cinza-claro);
    cursor: pointer;
    font-size: 0.8rem;
    line-height: 2.7rem;
    height: 2.7rem;
    margin: 1rem 0;
    text-align: center;
    width: 2.7rem;
}

.label-notas:hover {
    background-color: var(--cinza-claro);
    color: var(--branco);
}

.label-notas:active {
    background-color: var(--laranja);
}

.label-checked,
.label-checked:hover {
    background-color: var(--laranja);
    color: var(--branco);
}


.submit {
    background-color: var(--laranja);
    border: none;
    border-radius: 20px;
    color: var(--branco);
    cursor: pointer;
    font-family: var(--fonte);
    letter-spacing: 1px;
    text-transform: uppercase;

    height: 2.5rem;
    width: 100%;
}

.submit:hover,
.submit:active {
    background-color: var(--branco);
    color: var(--laranja);
    cursor: pointer;
}

.agradecimento {
    width: 100%;
}

.agradecimento__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tel__container {
    background-image: url(../images/illustration-thank-you.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0.8rem;

    height: 6rem;
    width: 8rem;
}

.nota-cliente__container {
    display: flex;

    background-color: var(--azul-medio);
    border-radius: 30px;
    padding: 0.4rem 1rem;
    width: max-content;
}

.nota-cliente,
.nota-cliente {
    height: 0.6rem;
    color: var(--laranja);
    font-size: 0.8rem;
}

.titulo-agradecimento {
    margin-top: 1.8rem;
}

.texto-agradecimento {
    text-align: center;
}